.css-6hp17o-MuiList-root-MuiMenu-list {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }

.MuiMenu-paper {
    border-radius: 10px !important;
    box-shadow: 0 4px 6px -1px rgba(0,0,0,0.08), 0 2px 4px -2px rgba(0,0,0,0.06) !important;
    border: 1px solid #e2e8f0 !important;
  }
